@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Ubuntu", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 20px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}

.scroll-button a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: linear-gradient(to right, #375bbd 35%, #3157c0 65%, #355bc4 100%);
    border: 3px solid transparent;
    padding: 5px 8px;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
    transition: all 0.3s ease-in-out;
}

.scroll-button a:hover {
    color: #3157c0;
    border-color: #3157c0;
    background: #ffffffe0;
}

nav {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 998;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
}

nav.sticky {
    background: #4070f4;
    padding: 8px 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

nav .navbar {
    width: 95%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .navbar .logo a {
    font-weight: 500;
    font-size: 35px;
    color: #4070f4;
}

nav.sticky .navbar .logo a {
    color: #fff;
}

nav .navbar .menu {
    display: flex;
    position: relative;
}

nav .navbar .menu li {
    list-style: none;
    margin: 0 8px;
}

.navbar .menu a,
.navbar .menu span {
    font-size: 18px;
    font-weight: 500;
    color: #310e0e;
    transition: all 0.4s ease;
    cursor: pointer;
}

.navbar .menu a {
    padding: 6px, 0;
}

nav ul li {
    padding: 0 5px;
    position: relative;
}

nav ul .non-active-page:after {
    content: '';
    width: 0;
    height: 3px;
    background: #2192ff;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}

nav ul .non-active-page:hover::after {
    width: 100%;
}

nav.sticky ul .non-active-page:after {
    content: '';
    width: 0;
    height: 3px;
    background: #303030;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}

nav.sticky ul .non-active-page:hover::after {
    width: 100%;
}

.navbar .menu a:hover,
.navbar .menu {
    color: #4070f4;
    text-decoration: darkblue;
}

.navbar .menu {
    padding-right: 20px;
}

nav.sticky .menu a,
nav.sticky .menu {
    color: #FFF;
}

nav.sticky .menu a:hover,
nav.sticky .menu {
    color: #000000;
}

nav .menu-btn,
.navbar .menu .cancel-btn {
    position: absolute;
    color: #fff;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}

nav .menu-btn {
    color: #4070f4;
}

nav.sticky .menu-btn {
    color: #FFF;
}

.navbar .menu .menu-btn {
    color: #fff;
}


@media (max-width: 1190px) {
    .portfolio .content {
        width: 95%;
    }

    .home {
        background-image: url('Images/background.png');
    }

    .services .boxes .box {
        margin: 20px 0;
        width: calc(100% / 2 - 20px);
    }

}

@media (max-width: 1000px) {
    nav .navbar {
        width: 95%;
    }


    nav .navbar .menu {
        position: fixed;
        left: -100%;
        top: 0;
        background: #0a1922;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        transition: all 0.8s ease;
    }

    .navbar.active .menu {
        left: 0;
    }

    nav .navbar .menu a,
    nav .navbar .menu span {
        font-size: 23px;
        display: block;
        color: #fff;
        margin: 10px 0;
    }

    nav.sticky .menu a:hover,
    nav.sticky .menu span:hover {
        color: #4070f4;
    }


    nav .menu-btn,
    .navbar .menu .cancel-btn {
        display: block;
    }

    .portfolio .boxes .box {
        margin: 20px 0;
        width: 100%;
    }

    .home .text-two {
        font-size: 65px;
    }

    .home .text-three {
        font-size: 35px;
    }

    .skills .skills-details {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills-details .text {
        width: 100%;
        margin-bottom: 50px;
    }

    .skills-details .boxes {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .services .boxes .box,
    .portfolio .boxes .box {
        margin: 20px 0;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .text-two {
        font-size: 50px;
    }

    .home .text-three {
        font-size: 30px;
    }

    .skills-details .boxes .per {
        font-size: 50px;
        color: #4070f4;
    }
}

.navbar .menu .active-page {
    color: #4070f4;
}

nav.sticky .menu .active-page {
    color: #000000;
}

nav ul .active-page:after {
    content: '';
    width: 0;
    height: 3px;
    background: #2192ff;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
    width: 100%;
}

nav.sticky ul .active-page:after {
    content: '';
    width: 0;
    height: 3px;
    background: #303030;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
    width: 100%;
}

.portfolio {
    padding-top: 60px;
    padding-bottom: 40px;
}

.portfolio .content {
    width: 80%;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
}

.portfolio .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.portfolio .title span {
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

.portfolio .title span::before,
.portfolio .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #4070f4;
    left: 0;
    bottom: 0;
}

.portfolio .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.portfolio .topic {
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.portfolio {
    background-color: white;
}

.portfolio .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio .boxes .box {
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 40px;
    padding: 30px 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.664);
    color: #c5c5b8ea;
    transition: all 0.4s ease-in-out;
}

.portfolio .boxes .box:hover {
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 50px;
    padding: 30px 10px;
    box-shadow: 0 10px 15px rgb(39, 0, 146);
    color: #c5c5b8ea;
    background-size: 170%;
}

.portfolio .boxes .thumbnail1 {
    background: url('Images/Project-Thumbnails/th1.png') no-repeat center;
    background-size: 130%;
}

.portfolio .boxes .thumbnail2 {
    background: url('Images/Project-Thumbnails/th2.png') no-repeat center;
    background-size: 130%;
}

.portfolio .boxes .thumbnail3 {
    background: url('Images/Project-Thumbnails/th3.png') no-repeat center;
    background-size: 130%;
}

.portfolio .boxes .thumbnail4 {
    background: url('Images/Project-Thumbnails/th4.png') no-repeat center;
    background-size: 130%;
}

.portfolio .boxes .thumbnail5 {
    background: url('Images/Project-Thumbnails/th5.png') no-repeat center;
    background-size: 130%
}

.portfolio .boxes .thumbnail6 {
    background: url('Images/Project-Thumbnails/th6.png') no-repeat center;
    background-size: 130%;
}

.portfolio .boxes .box .icon {
    height: 120px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #ffffff00;
}

.portfolio .boxes .box .hover-indicator {
    color: transparent;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    transition: all 0.4s ease-in-out;
}

.portfolio .boxes .box:hover .hover-indicator {
    color: white;
    background: blue;
    border-radius: 50%;
}

.see-more {
    outline: none;
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 400;
    background: #4070f4;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.see-more:hover {
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
}

.more-services {
    outline: none;
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 400;
    background: #2a6443;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.more-services:hover {
    border-color: #2a6443;
    background-color: rgba(255, 255, 255, 0.171);
    color: #2a6443;
}

.services {
    background-color: #bdffdac2;
    padding-top: 20px;
}

.services .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: all 0.4s ease;
    color: #130130ea;
}

.services .boxes .box:hover {
    background: #2a6443;
    color: #0E2431;

}

.services .boxes .box .icon {
    height: 50px;
    width: 50px;
    background: #2a6443;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}

.services .boxes .box:hover .icon {
    background-color: #fff;
    color: #2a6443;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
    color: #0E2431;
    transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
    color: #d4d5d6;
}

.services .content {
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
}

.services .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.services .title span {
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

.services .title span::before,
.services .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #2a6443;
    left: 0;
    bottom: 0;
}

.services .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.services .topic {
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.skills {
    padding-top: 20px;
    background-color: #f0f8ffc7;
}

.skills .content {
    width: 80%;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}

.skills .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.skills .title span {
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

.skills .title span::before,
.skills .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #47096b;
    left: 0;
    bottom: 0;
}

.skills .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.skills .topic {
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.skills .button {
    margin: 16px 0;
}

.skills .button button {
    outline: none;
    padding: 7px 10px;
    border-radius: 6px;
    font-size: 23px;
    font-weight: 400;
    background: #47096b;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.skills .button button:hover {
    border-color: #47096b;
    background-color: #8b01a705;
    color: #47096b;
}

.skills .content {
    padding: 40px 0;
}

.skills .skills-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-details .text {
    width: 50%;
}

.skills-details p {
    color: #0E2431;
    text-align: justify;
}

.skills .skills-details .experience {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.skills-details .experience .num {
    color: #0E2431;
    font-size: 80px;
}

.skills-details .experience .exp {
    color: #0E2431;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}

.skills-details .boxes {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-details .box {
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}

.skills-details .boxes .topic {
    font-size: 20px;
    color: #4070f4;
}

.skills-details .boxes .per {
    font-size: 60px;
    color: #4070f4;
}

.contact .content {
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 30px;
}

.contact .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.contact .title span {
    color: #1d1615;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

.contact .title span::before,
.contact .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ea1d6f;
    left: 0;
    bottom: 0;
}

.contact .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.multiple-text-typing .text {
    position: relative;
    color: #4070F4;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins', Ubuntu, Calibri;
}

.multiple-text-typing .text.first-text {
    color: #000000;
}

.text.sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-left: 2px solid #4070F4;
    animation: animate 2s steps(12) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0%;
    }
}

.home {
    height: 100vh;
    width: 100%;
    background: url("Images/background.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins'sans-serif;
    position: relative;
    padding-top: 40px;
}

.home .content {
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
}

.home::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.home.show::before {
    opacity: 1;
    pointer-events: auto;
}

.home .home-content {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .text-one {
    font-size: 25px;
    color: #0E2431;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.home .text-two {
    color: #0E2431;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .text-three {
    font-size: 40px;
    margin: 5px 0;
    color: #4070f4;
}

.home .text-four {
    font-size: 23px;
    margin: 5px 0;
    color: #0E2431;
}

.home .button {
    margin: 14px 0;
}

.home .button .hire-button {
    outline: none;
    padding: 5px 8px;
    border-radius: 6px;
    font-size: 23px;
    font-weight: 400;
    background: #4070f4;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.home .button .hire-button:hover {
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
}

.home .button .contact-button {
    padding: 5px 8px;
    border-radius: 6px;
    font-size: 23px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.171);
    color: #2a6443;
    cursor: pointer;
    border: 2px solid #2a6443;
    transition: all 0.4s ease;
}

.home .button .contact-button:hover {
    background: #2a6443;
    color: #ffffff;
    border: 2px solid transparent;
}


*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.backest-ground {
    background: linear-gradient(to right, #201dea 0%, #eb466b 20%, #1dea5b 40%, #7d1dea 60%, #46afeb 80%, #cab15e 100%);
    animation: gradient 5s ease-in-out infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.contact .content,
button,
input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.background {
    display: flex;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    flex: 0 1 800px;
    margin: auto;
    padding: 10px;
}

.contact {
    padding-top: 20px;
    padding-bottom: 20px;
}

.screen {
    position: relative;
    background: #e6e2e2;
    border-radius: 15px;
    color: #000000;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 20px 5px 50px rgba(68, 68, 68, 0.404);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #d4d4d4;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
    position: relative;
    cursor: context-menu;
}

.screen-header-button {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 3px;
    border-radius: 100%;
    background: white;
    position: relative;
}

.screen-header-button.close {
    background: #ed1c6f;
    border: 1px solid #ec005f;
}

.screen-header-button.maximize {
    background: #e8e925;
    border: 1px solid #dbdb03;
}

.screen-header-button.minimize {
    background: #74c54f;
    border: 1px solid #5db137;
}

.screen-header-right {
    display: flex;
    color: #464646;
    cursor: context-menu;
}

.light {
    color: #ea1d6f;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
}

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #888383;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #bdbdbd;
}

.app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #750d33;
}

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}

.footer {
    padding-top: 20px;
    padding-bottom: 10px;
    /*background: linear-gradient(to right, #111111 0%, #0f0f0f 20%, #1c1c1d 40%, #1b1b1d 60%, #1a1a1a 80%, #0b0b0c 100%);*/
    background-color: #e2e2e2;
    color: #1d1d1d;
    text-align: center;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-decoration: none;
    border-top: 2px solid #d3d3d3e7;
}

.copyrighting-link-text {
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.copyrighting-link-text:hover {
    text-decoration: underline;
}

.footer .media-icons a {
    font-size: 30px;
    transition: all 0.3s ease-in;
    margin-left: 7px;
    margin-right: 7px;
}

.footer .media-icons a #x,
.footer .media-icons a #insta,
.footer .media-icons a #yt {
    color: #1b1b1b;
    transition: color 0.3s ease-in;
}


.footer .media-icons a #in {
    transition: all 0.3s ease-in;
    border-radius: 9%;
    color: #1b1b1b;
    padding: 0px;
}

.footer .media-icons a #git {
    transition: all 0.3s ease-in;
    border-radius: 50%;
    color: #1b1b1b;
    
}

.footer .media-icons a:hover #yt {
    transition: all 0.3s ease-in;
    color: #ff0000;
}

.footer .media-icons a #fb {
    transition: all 0.3s ease-in;
    border-radius: 50%;
    color: #1b1b1b;
}

.footer .media-icons a:hover #x {
    color: #1d52e4;
}

.footer .media-icons a:hover #in,
.footer .media-icons a:hover #fb {
    color: blue;
}

.footer .media-icons a:hover #insta {
    color: #8f027c;
}

.footer .media-icons a:hover #git {
    color: #e2e2e2;
    background-color: #1b1b1b;
    border-color: #e2e2e2;
}

.footer .media-icons {
    margin-bottom: 13px;
}