@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Ubuntu", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 20px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}

nav {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 998;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
}

nav.sticky {
    background: #4070f4;
    padding: 13px 0;
}

nav .navbar {
    width: 95%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .navbar .logo a {
    font-weight: 500;
    font-size: 35px;
    color: #4070f4;
}

nav.sticky .navbar .logo a {
    color: #fff;
}

nav .navbar .menu {
    display: flex;
    position: relative;
}

nav .navbar .menu li {
    list-style: none;
    margin: 0 8px;
}

.navbar .menu a,
.navbar .menu span {
    font-size: 18px;
    font-weight: 500;
    color: #310e0e;
    transition: all 0.4s ease;
    cursor: pointer;
}

.navbar .menu a {
    padding: 6px, 0;
}

nav ul li {
    padding: 0 5px;
    position: relative;
}

nav ul .non-active-page:after {
    content: '';
    width: 0;
    height: 3px;
    background: #2192ff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

nav ul .non-active-page:hover::after {
    width: 100%;
}

nav.sticky ul .non-active-page:after {
    content: '';
    width: 0;
    height: 3px;
    background: #303030;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

nav.sticky ul .non-active-page:hover::after {
    width: 100%;
}

.navbar .menu a:hover,
.navbar .menu {
    color: #4070f4;
    text-decoration: darkblue;
}

.navbar .menu {
    padding-right: 20px;
}

nav.sticky .menu a,
nav.sticky .menu {
    color: #FFF;
}

nav.sticky .menu a:hover,
nav.sticky .menu {
    color: #000000;
}

nav .menu-btn,
.navbar .menu .cancel-btn {
    position: absolute;
    color: #fff;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}

nav .menu-btn {
    color: #4070f4;
}

nav.sticky .menu-btn {
    color: #FFF;
}

.navbar .menu .menu-btn {
    color: #fff;
}

section {
    padding-top: 40px;
}

section .content {
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
}

.about{
    background-color: #F0F8FF;
}

.about .about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span {
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #4070f4;
    left: 0;
    bottom: 0;
}

section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.about .about-details .left {
    width: 45%;
}

.about .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.about-details .right {
    width: 55%;
}

section .topic {
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-details .right p {
    text-align: justify;
    color: #0E2431;
}

section .button {
    margin: 16px 0;
}

section .button button {
    outline: none;
    padding: 7px 10px;
    border-radius: 9px;
    font-size: 23px;
    font-weight: 400;
    background: #4070f4;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

section .button button:hover {
    border-color: #4070f4;
    background-color: #f0f8ff9d;
    color: #4070f4;
}

.skills {
    background: #fff;
}

.skills .content {
    padding: 40px 0;
}

.skills .skills-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-details .text {
    width: 50%;
}

.skills-details p {
    color: #0E2431;
    text-align: justify;
}

.skills .skills-details .experience {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.skills-details .experience .num {
    color: #0E2431;
    font-size: 80px;
}

.skills-details .experience .exp {
    color: #0E2431;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}

.skills-details .boxes {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-details .box {
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}

.skills-details .boxes .topic {
    font-size: 20px;
    color: #4070f4;
}

.skills-details .boxes .per {
    font-size: 60px;
    color: #4070f4;
}


@media (max-width: 1190px) {
    section .content {
        width: 95%;
    }
}

@media (max-width: 1190px) {

    .about .about-details {
        justify-content: center;
        flex-direction: column;
    }

    .about .about-details .left {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-details .right {
        width: 90%;
        margin: 40px 0;
    }
}

@media (max-width: 900px) {
    .about .left img {
        height: 320px;
        width: 320px;
    }
}

@media (max-width: 1000px) {
    .skills .skills-details {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills-details .text {
        width: 100%;
        margin-bottom: 50px;
    }

    .skills-details .boxes {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

     nav .navbar {
        width: 95%;
    }


    nav .navbar .menu {
        position: fixed;
        left: -100%;
        top: 0;
        background: #0a1922;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        transition: all 0.8s ease;
    }

    .navbar.active .menu {
        left: 0;
    }

    nav .navbar .menu a,
    nav .navbar .menu span {
        font-size: 23px;
        display: block;
        color: #fff;
        margin: 10px 0;
    }

    nav.sticky .menu a:hover,
    nav.sticky .menu span:hover {
        color: #4070f4;
    }


    nav .menu-btn,
    .navbar .menu .cancel-btn {
        display: block;
    }
}


.navbar .menu .active-page{
    color: #4070f4;
}

nav.sticky .menu .active-page{
    color: #000000;
}

nav ul .active-page:after {
    content: '';
    width: 0;
    height: 3px;
    background: #2192ff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
    width: 100%;
}

nav.sticky ul .active-page:after {
    content: '';
    width: 0;
    height: 3px;
    background: #303030;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
    width: 100%;
}

@media (max-width: 500px) {
    .skills-details .boxes .per {
        font-size: 50px;
        color: #4070f4;
    }
}