      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      .head1 {
          font-size: 23px;
          text-align: center;
          color: #B27409;
      }

      .logo {
          padding: 10px;
          padding-top: 9px;
          padding-bottom: 8px;
          background: linear-gradient(to right, #b87b13 35%, #B27409 65%, #b37304 100%);
          border-radius: 50%;
          width: fit-content;
          vertical-align: middle;
          margin-bottom: 8px;
      }

      .head2 {
          font-size: 18px;
          text-align: center;
          color: #1d1d1d;
          padding-bottom: 10px;
      }

      .credit {
          text-decoration: none;
          color: #1d1d1d;
          transition: all 0.3s ease-in-out;
      }

      .credit:hover {
          color: #B27409;
      }

      .features-text {
          color: #444444;
          font-weight: 400;
          font-size: 15px;
          margin-top: 5px;
      }

      .head3 {
          font-size: 16px;
          text-align: center;
          color: #242424;
          font-weight: 600;
      }

      section {
          position: fixed;
          height: 100%;
          width: 100%;
          background: url('/portfolio/images/Project-Thumbnails/th11.png') no-repeat center;
          background-size: cover;
      }

      button {
          font-size: 20px;
          font-weight: 400;
          color: #fff;
          padding: 18px 25px;
          border: none;
          background: #B27409;
          border-radius: 6px;
          border: 2px solid transparent;
          cursor: pointer;
          transition: all 0.3s ease-in;
      }

      button:hover {
          background-color: #fff;
          border-color: #B27409;
          color: #B27409;
      }

      button.show-modal,
      .modal-box {
          position: fixed;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      }

      section.active .show-modal {
          display: none;
      }

      .overlay {
          position: fixed;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.3);
          opacity: 0;
          pointer-events: none;
      }

      section.active .overlay {
          opacity: 1;
          pointer-events: auto;
      }

      .modal-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 380px;
          width: 100%;
          padding: 30px 20px;
          border-radius: 24px;
          background-color: #fff;
          opacity: 0;
          pointer-events: none;
          transition: all 0.3s ease;
          transform: translate(-50%, -50%) scale(1.2);
      }

      section.active .modal-box {
          opacity: 1;
          pointer-events: auto;
          transform: translate(-50%, -50%) scale(1);
      }

      .modal-box i {
          font-size: 70px;
          color: #4070f4;
      }

      .modal-box h2 {
          margin-top: 20px;
          font-size: 25px;
          font-weight: 500;
          color: #333;
      }

      .modal-box h3 {
          font-size: 16px;
          font-weight: 400;
          color: #333;
          text-align: center;
      }

      .modal-box .buttons {
          margin-top: 15px;
      }

      .modal-box button {
          font-size: 14px;
          padding: 6px 12px;
          margin: 0 10px;
      }

      .mac-close {
          position: absolute;
          top: 20px;
          right: 20px;
          width: 20px;
          height: 20px;
          cursor: pointer;
          border-radius: 50%;
          background-color: #cac9c9;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .mac-close-button {
          width: 10px;
          height: 2px;
          background-color: #333;
          transform-origin: center;
          position: absolute;
      }

      .mac-close-button:nth-child(1) {
          transform: rotate(45deg);
      }

      .mac-close-button:nth-child(2) {
          transform: rotate(-45deg);
      }

      .mac-close-button {
          background-color: #000;
      }

      .mac-close:hover {
          background-color: red;
      }